<div>
  <img src=<%= results[:image_url]%> alt=<%= "Image of #{results[:name]}" %> class="image-card">

  <h1>
    <%= results[:name].titleize %>
  <h1>

  <% if results[:common_names].nil? %>
  <% else %>
    <h2>
      Common Names:
    </h2>
    <p>
      <%= results[:common_names] %>
    </p>
  <% end %>

  <% if results[:cause].nil? %>
  <% else %>
    <h2>
      Cause:
    </h2>
    <p>
      <%= results[:common_names] %>
    </p>
  <% end %>

  <h2>
    Description
  </h2>
  <p>
    <%= results[:description] %>
  </p>

  <h2>
    Treatment
  </h2>

  <p>
    Chemical:
  </p>
  <ul>
    <% results[:treatment][:chemical].each do |result| %>
      <li> <%= result %> </li>
    <% end %>
  </ul>

  <p>
    Biological:
  </p>
  <ul>
    <% results[:treatment][:biological].each do |result| %>
      <li> <%= result %> </li>
    <% end %>
  </ul>

  <p>
    Prevention:
  </p>
  <ul>
    <% results[:treatment][:prevention].each do |result| %>
      <li> <%= result %> </li>
    <% end %>
  </ul>

<%= simple_form_for :add_plant, method: :get, url: diagnose_add_plants_path  do |f| %>
  <%= f.hidden_field :illness_id, value: @illness.id %>
  <%= f.submit 'Add Diagnosis to Plant', class: "sp-btn-green" %>
<% end %>
</div>
