<%# <%= render 'shared/plant_cards', plants: @plants %>

<div class="px-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 mt-4 mb-4">
      <h1>
        Add Diagnosis to Plant
      </h1>
      <p>
        Please pick a plant from your garden to assign the diagnosis to:
      </p>
    </div>
  </div>

   <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 mb-4">

      <div class="grid-container">
        <% @plants.each do |plant| %>
          <div class="grid-item plant-card-sm">
            <%= link_to plant_add_diagnosis_path(plant, @illness), class: "text-decoration-none text-dark" do %>
            <% if plant.image.attached? %>
              <%= cl_image_tag plant.image.key, class: "plant-card-image" %>
            <% else %>
              <%= image_tag plant.plant_info.image_url, class: "plant-card-image" %>
            <% end %>
              <div class="plant-card-content">
                <p class="m-0"><strong>Nickname: </strong><%= plant.nickname %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
