<div class="offering-options-container">
    <div class="row justify-content-center">

      <div class="mt-2 mb-2 col-sm-12 col-lg-6">
        <div class="d-flex mb-4">
          <div class="d-flex align-items-center me-2">
            <%= link_to listings_plants_path do %>
              <i class="back-button fa-solid fa-angles-left"></i>
            <% end %>
          </div>

          <div>
            <h1 class="m-0">
              Select Plants to Swap
            </h1>
          </div>
        </div>

        <div>
          <p class="m-0 mb-1">
            <% if @offer.offering_options.length > 0 %>
              You have already selected plants for this offer.
            <% else %>
              Please choose up to 5 listed plants from your garden to swap:
            <% end %>
          </p>
        </div>
      </div>

    </div>

  <div data-controller="offering-option">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-6 mb-1">
        <div class="grid-container">
          <% @plants.each do |plant|%>

          <div class="grid-item plant-card-sm<%= @offer.offering_options.length > 0 ? " inactive" : "" %>" data-plant-id="<%= plant.id %>" data-action="click->offering-option#add">
            <% if plant.image.key? %>
              <%= cl_image_tag plant.image.key, class: "plant-card-image" %>
            <% else %>
              <%= image_tag plant.plant_info.image_url, class: "plant-card-image" %>
            <% end %>
            <div class="plant-card-content">
              <h3><%= plant.nickname %></h3>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-6">
        <div class="mt-5">
          <%# <h2>Selected Plants</h2>
          <div class="grid-container" data-offering-option-target="selectedOffering">
          </div> %>

          <div id="selected-plants" class="d-flex justify-content-center mt-5">
            <input data-offer-id="<%= @offer.id %>" data-action="click->offering-option#create" class="<%= @offer.offering_options.length > 0 ? "sp-btn-gray-sm disabled" : "sp-btn-green-sm" %>" type="submit" value="Submit">
            <%= link_to "Chat with owner", chat_offer_path(@offer), class: "sp-btn-green-sm d-none", data: { "offering-option-target": "chatButton" } %>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
