<div class="offering-options-container">
    <div class="row justify-content-center">

      <div class="mt-2 mb-2 col-sm-12 col-lg-6">
        <div class="d-flex mb-4">
          <div class="d-flex align-items-center me-2">
            <%= link_to :back do %>
              <i class="back-button fa-solid fa-angles-left"></i>
            <% end %>
          </div>

          <div>
            <h1 class="m-0">
              Select Plants to Swap
            </h1>
          </div>
        </div>

        <div>
          <p class="m-0 mb-1">
            These are the plants selected for the offer:
          </p>
        </div>
      </div>

    </div>

  <div data-controller="offering-option">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-6 mb-1">
        <div class="grid-container">
          <% @offering_option.each do |option|%>

          <div class="grid-item plant-card-sm active">
            <% if option.plant.image.key? %>
              <%= cl_image_tag option.plant.image.key, class: "plant-card-image" %>
            <% else %>
              <%= image_tag option.plant.plant_info.image_url, class: "plant-card-image" %>
            <% end %>
            <div class="plant-card-content">
              <h3><%= option.plant.nickname %></h3>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-6">
        <div class="mt-5">
          <div id="selected-plants" class="d-flex justify-content-center mt-5">
            <%= link_to "Chat with owner", chat_offer_path(@offer), class: "sp-btn-green-sm d-none", data: { "offering-option-target": "chatButton" } %>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
