
<div class="identifier-main">
  <div class="identify-header">
    <h1><strong>This is the plant you searched!</strong></h1>
  </div>

  <img src=<%= image_url %> alt=<%= name %> class="image-card">

  <h2> Plant Species </h2>
  <p> <%= name %> </p>

  <h2> Description </h2>
  <p> <%= description %> </p>

  <h2> Other common names </h2>
  <p> <%= common_names %> </p>

  <h2> Propagation </h2>
  <% propagation.each do |f| %>
    <p> <%= f %> </p>
  <% end %>

  <h2> Watering methods </h2>
  <p> <%= watering %> </p>
</div>



<div class="d-flex">
  <%= link_to "Identify again", identify_path, class:"btn btn-primary" %>
  <%= link_to "Add plant to Garden", identify_path, class:"btn btn-primary" %>
</div>
