<div>
  <%= link_to listings_plants_path do %>
    <i class="back-button-fixed fa-solid fa-angles-left"></i>
  <% end %>
  <img src=<%= plant_info.image_url %> alt=<%= plant_info.name %> class="image-card">
</div>

<div class="plant-info-container">
  <div class="mb-3">
    <h1>
      <%= plant_info.name.titleize %>
    <h1>
  </div>

  <div class="mb-4">
    <% if plant_info.common_names.nil? %>
    <% else %>
      <h2>
        Common names:
      </h2>
      <p>
        <%= plant_info.common_names.titleize.gsub(',', ', ') %>
      </p>
    <% end %>
  </div>

  <div class="mb-4">
    <h2>
      Description
    </h2>
    <p>
      <%= plant_info.description %>
    </p>
  </div>

  <div class="mb-4">
    <h2>
      Plant Species
    </h2>
    <p>
      <%= plant_info.name.titleize %>
    </p>
  </div>

  <div class="mb-4">
    <% if plant_info.propagation.present? %>
    <h2>
      Propagation Methods
    </h2>
    <ul>
      <% JSON.parse(plant_info.propagation).each do |f| %>
          <li> <%= f.titleize %> </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="mb-4">
    <h2>
      Watering Methods
    </h2>
    <p>
      <%= plant_info.watering.titleize %>
    </p>
  </div>
</div>
