<%= render "shared/settings"%>

<div class="px-3" data-controller="mygarden">
  <div class="d-flex justify-content-center mt-4 mb-3">
    <div class="btn btn-primary disabled rounded-5 mx-2" data-mygarden-target="collectionHeader" data-action="click->mygarden#togglePlant">Plants</div>
    <div class="btn btn-primary rounded-5 mx-2" data-mygarden-target="plantsHeader" data-action="click->mygarden#toggleCollection">Collections</div>
  </div>

  <div class="collection d-none" data-mygarden-target="collection">
  </div>

  <div data-mygarden-target="plants">
  <% @plants.each do |plant| %>
    <div class="row gx-0">
      <div class="plant-card col-sm-12 col-lg-4">
        <% plantinfo = PlantInfo.find(plant.plant_info_id) %>
        <% if plant.image.attached? %>
            <%= cl_image_tag plant.image.key, class: "plant-card-image" %>
        <% else %>
        <% end %>
        <div class="plant-card-content">
          <p><strong>Nickname: </strong><%= plant.nickname %></p>
          <p><strong>Remarks: </strong><%= plant.remarks  %></p>
          <p><strong>Species: </strong><%= plantinfo.name  %></p>
          <p><strong>Watering: </strong><%= plantinfo.watering  %></p>
          <%= link_to "View Details", plant_path(plant) %>
          <%= link_to "Add to a collection" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
