<div>
  <% if @plant.image.attached? %>
    <%= cl_image_tag @plant.image.key, class: "image-card" %>
  <% else %>
    <%= image_tag("plant_sample_10.jpg", class: "image-card") %>
  <% end %>
</div>

<div class="listing-container">

  <div class="mb-3">
    <h1>
      <%= @plant.nickname %>
    <h1>
  </div>

  <div class="mb-4">
    <h2>
      <%= @plant.plant_info.name %>
    </h2>
  </div>

  <div class="mb-4">
    <% if @plant.plant_info.common_names.nil? %>
    <% else %>
      <h2>
        Commonly known as:
      </h2>
      <p>
        <%= @plant.plant_info.common_names %>
      </p>
    <% end %>
  </div>

  <div class="mb-4">
    <h2>
      Description
    </h2>
    <p>
      <%= @plant.plant_info.description %>
    </p>
  </div>

  <div class="mb-4">
    <h2>
      Watering Requirement:
    </h2>
    <p>
      <%= @plant.plant_info.watering.titleize %>
    </p>
  </div>

  <div class="mb-4">
    <h2>
      Propagation:
    </h2>
    <p>
      <%= @plant.plant_info.propagation.titleize %>
    </p>
  </div>

  <%= link_to listings_plants_path do %>
    <i class="back-button fa-solid fa-angles-left"></i>
  <% end %>

  <div class="d-flex flex-column mt-5 align-items-center justify-content-center">
    <h3>
        Interested? Make an Offer
      </h3>
    <%= simple_form_for :create_offer, method: :post, url: offers_path  do |f| %>
      <%= f.hidden_field :lister_plant_id, value: @plant.id %>
      <%= f.submit 'Offer to Swap', class: "sp-btn-green" %>
    <% end %>
  </div>

</div>
