<h1>Plant Listing Page</h1>

<h2>Owner Related Info</h2>
<p>Plant Nickname (Given by Owner) <%= @plant.nickname %></p>
<p>Owner uploaded image of the plant? Dont have in schema now</p>

<h2>General Plant Info</h2>
<p>Plant Name: <%= @plant.plant_info.name %></p>
<p>Common Names: <%= @plant.plant_info.common_names %></p>
<p>Description: <%= @plant.plant_info.description %></p>
<p>Watering Requirement: <%= @plant.plant_info.watering %></p>
<p>Propagation: <%= @plant.plant_info.propagation %></p>

<%= link_to "Back",  listings_plants_path %>

<h2>Interested? Make an Offer</h2>

  <div class="d-flex mt-5 justify-content-center">
    <%= simple_form_for :create_offer, method: :post, url: offers_path  do |f| %>
      <%= f.hidden_field :lister_plant_id, value: @plant.id %>
      <%= f.submit 'Offer to Swap', class: "sp-btn-green" %>
    <% end %>
  </div>
