<%= render "shared/settings"%>

<div class="listings-container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 mb-4">

      <h1>
        Marketplace
      </h1>

      <%= link_to "Go to Offers tab", offers_path %>

    </div>
  </div>

   <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 mb-4">
        <%= form_with url: listings_plants_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control text-field",
              placeholder: "Species/common name"
            %>
            <%= button_tag "Search", name: "", class: "sp-btn-green-sm" %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 mb-4">

        <% if @listings.length == 0 %>

          <p>There are no listings for <strong><%= "#{params[:query]}" %></strong>. Try searching for something else.</p>

        <% else %>

          <div class="grid-container">
            <% @listings.each do |listing| %>

              <%= link_to listing_plant_path(listing), :action => 'go' do %>
                <div class="grid-item plant-card">

                  <% if listing.image.attached? %>
                    <%= cl_image_tag listing.image.key, class: "plant-card-image-lg" %>
                  <% else %>
                    <%= image_tag("plant_sample_10.jpg", class: "plant-card-image-lg") %>
                  <% end %>

                  <div class="plant-card-content">
                    <p class="m-0">
                      <strong>
                        <%= listing.nickname.titleize %>
                      </strong>
                    </p>
                    <p>
                      <%= listing.plant_info.name %>
                    </p>
                    <p class="m-0">
                      <strong>
                        Common names:
                      </strong>
                    </p>
                    <p>
                      <%= listing.plant_info.common_names.titleize.gsub(',', ', ') %>
                    </p>
                    <div class="lister">
                      <p class="m-0">
                        <strong>
                          Listed by
                        </strong>
                        <%= listing.user.first_name %>
                      </p>
                    </div>
                  </div>

                </div>
              <% end %>

            <% end %>

          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
