<div data-controller="camera" data-camera-api-key-value="<%=ENV["PLANT_ID_KEY"] %>" >

  <div data-camera-target="info">

  </div>

  <div data-camera-target="toHide">
    <%= image_tag "Magnifying glass over a flower.jpg", alt: "Magnifying glass over a flower", class: "banner mb-5" %>
  </div>


  <div class="d-flex justify-content-center">
    <%= simple_form_for (@plant) do |f| %>
      <%= f.input :nickname, wrapper_html: { class: 'd-none', data: { camera_target: "toShow" } } %>
      <%= f.input :remarks, wrapper_html: { class: 'd-none', data: { camera_target: "toShow" } } %>
      <%= f.input :watering_frequency, label: "Please enter the number of days between watering sessions:", wrapper_html: { class: 'd-none', data: { camera_target: "toShow" } }, input_html: { min: '0' } %>
      <%= f.input :start_date, label: "Please indicate when to begin watering:", wrapper_html: { class: 'd-none', data: { camera_target: "toShow" } } %>
      <%= f.label :image, class: "sp-btn-green clickable", data: { camera_target: "toHide" } do %>
        Identify
        <i class="fa-solid fa-camera"></i>
      <% end %>
      <%= f.input :image, as: :file, label: false, wrapper_html: { data: { action: "change->camera#identify", camera_target:"toHide"}, class: "d-none"} %>
      <%= f.association :plant_info, as: :hidden, input_html: { data: {camera_target: "plantInfo"}} %>
      <div class="d-flex justify-content-center">
      <%= f.submit "Add to Garden", class: 'd-none sp-btn-green mt-2', data: { camera_target: "toShow" }%>
      </div>
    <% end %>
  </div>

  <div class="identifylinks">
    <div class="d-flex justify-content-center">
      <p class="sp-btn-green d-none clickable" data-camera-target="btnShowA" data-action="click->camera#fire">Add to Garden</p>
    </div>
    <div>
      <p class="d-none" data-camera-target="btnShowB">Not accurate? <%= link_to "Identify again", new_plant_path %></p>
    </div>
  <div>
</div>
