<div class="diagnosis-results-container">
  <h2>Overall Watering Schedule</h2>
<% @plants.each do |plant| %>
  <p><%= plant.nickname %>: </p>
  <% case plant.watering_frequency %>
  <% when 1 %>
    <p><%= "Daily" %></p>
  <% when 2 %>
    <p><%= "Every other day" %></p>
  <% when 7 %>
    <p><%= "Once a week" %></p>
  <% when 14 %>
    <p><%= "Fortnightly" %></p>
  <% else %>
    <p><%= "Every #{plant.watering_frequency} days" %></p>
  <% end %>
<% end %>

<%= month_calendar(events: @full_schedule, attribute: :watering_date) do |date, schedule| %>
  <%= date.day %>

  <% schedule.each do |item| %>
    <%= render "schedule_reminder", item: item %>
  <% end %>
<% end %>



</div>
