<div>
  <% if @plant.image.attached? %>
    <%= cl_image_tag @plant.image.key, class: "image-card" %>
  <% end %>
</div>

<div data-controller="plant-show">

<div class="container-fluid">
  <div class="row">
    <h2 class='col-4 menu-header active' data-header="info" data-action="click->plant-show#displayContent" data-plant-show-target="menuHeader">Plant Info</h2>
    <h2 class='col-4 menu-header' data-header="diagnose" data-action="click->plant-show#displayContent" data-plant-show-target="menuHeader">Diagnosis</h2>
    <h2 class='col-4 menu-header' data-header="schedule" data-action="click->plant-show#displayContent" data-plant-show-target="menuHeader">Watering Schedule</h2>
  </div>
</div>


<div data-content="info" class="diagnosis-results-container mt-0 <%= "d-none" if params[:start_date].present? %>" data-plant-show-target="content">

<div class="container">
  <div class="form-check form-switch d-flex justify-content-end py-0">
    <%= simple_form_for (@plant) do |f| %>
      <%= f.input :listing,
        label: "List in Marketplace",
        as: :boolean,
        class: 'form-check-input',
        input_html: {
                      data: {
                          controller: "plant-listing",
                          action: "change->plant-listing#fire",
                          'plant-listing-target': "checkbox"
                        }}
      %>
    <% end %>
  </div>
</div>

  <div class="mb-3">
    <h1>
      <%= @plant.nickname %> <%= "(#{@plantinfo.name.titleize})" %>
    <h1>
  </div>

  <div class="mb-4">
    <h2>
      Remarks:
    </h2>
    <p>
      <%= @plant.remarks %>
    </p>
  </div>

  <div class="mb-4">
    <h2>
      Description:
    </h2>
    <p>
      <%= @plantinfo.description %>
    </p>
  </div>

  <div class="mb-4">
    <h2>
      Other Common Names:
    </h2>
    <p>
      <%= @plantinfo.common_names.titleize.gsub(',', ', ')  %>
    </p>
  </div>

  <div class="mb-4">
    <h2>
      Propagation Methods:
    </h2>
      <% if @plantinfo.image_url != nil %>
      <ul>
          <% JSON.parse(@plantinfo.propagation).each do |f|  %>
            <li><%= f.titleize %></li>
          <% end %>
      </ul>
      <% else %>
        <%= @plantinfo.propagation %>
      <% end %>

  </div>

  <div class="mb-4">
    <h2>
      Watering Method:
    </h2>
    <p>
      <%= @plantinfo.watering.titleize  %>
    </p>
  </div>
</div>




<div data-content="diagnose" class="diagnosis-results-container d-none" data-plant-show-target="content">
<%  if @illnesses.empty? %>
  <strong><%= @plant.nickname %></strong><%= " appears vibrant and robust, exhibiting strong growth and lush foliage, indicating its overall healthiness."  %>
<% else %>
 <% @illnesses.each do |illness| %>
  <div class="mb-3">
    <h2>
    Name of illness:
    </h2>
    <p>
      <%= illness.name.titleize %>
    </p>
  </div>

  <div class="mb-4">
    <% if illness.common_names.nil? %>
    <% else %>
      <h2>
        Common Names:
      </h2>
      <p>
        <%= illness.common_names.titleize %>
      </p>
    <% end %>
  </div>

  <div class="mb-4">
    <% if illness.cause.nil? %>
    <% else %>
      <h2>
        Cause:
      </h2>
      <p>
        <%= illness.cause %>
      </p>
    <% end %>
  </div>

  <div class="mb-4">
    <h2>
      Description
    </h2>
    <p>
      <%= illness.description %>
    </p>
  </div>

  <div class="mb-4">
    <h2>
      Treatment
    </h2>

    <h3>
      Chemical:
    </h3>
    <ul>
      <% illness.treatment["chemical"].each do |sentence| %>
        <li> <%= sentence %> </li>
      <% end %>
    </ul>

    <h3>
      Biological:
    </h3>
    <ul>
      <% illness.treatment["biological"].each do |sentence| %>
        <li> <%= sentence %> </li>
      <% end %>
    </ul>

    <h3>
      Prevention:
    </h3>
    <ul>
      <% illness.treatment["prevention"].each do |sentence| %>
        <li> <%= sentence %> </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "#{@plant.nickname} has recovered!",
      plant_remove_diagnosis_path(@plant, illness),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "sp-btn-green",
      style: "text-decoration:none"
  %>
  <% end %>
<% end %>

</div>

<div data-content="schedule" class="diagnosis-results-container <%= "d-none" unless params[:start_date].present? %>" data-plant-show-target="content">
  <h2>Watering Schedule</h2>
  <% case @plant.watering_frequency %>
  <% when 1 %>
    <%= "Daily" %>
  <% when 2 %>
    <%= "Every other day" %>
  <% when 7 %>
    <%= "Once a week" %>
  <% when 14 %>
    <%= "Fortnightly" %>
  <% else %>
    <%= "Every #{@plant.watering_frequency} days" %>
  <% end %>

  <%= month_calendar(events: @plant.schedule, attribute: :watering_date) do |date, schedule| %>
    <%= date.day %>

    <% schedule.each do |item| %>
     <div class="reminder">
      <p><%= "Hydration alert: #{item.nickname}" %></p>
     </div>
    <% end %>
  <% end %>
</div>
