<% if offer.lister_plant.image.attached? %>
  <%= link_to listing_plant_path(offer.lister_plant), class: "text-decoration-none" do %>
    <div class="chat-image-card" style="background-image:url('<%= cl_image_tag plant.image.key %>')">
    </div>
  <% end %>
<% else %>
  <%= link_to listing_plant_path(offer.lister_plant), class: "text-decoration-none" do %>
    <div class="chat-image-card" style="background-image:url('<%= asset_path('plant_sample_10.jpg')%>')">
    </div>
  <% end %>
<% end %>
<div class="mb-3 mt-1 text-center">
  <%= link_to listing_plant_path(offer.lister_plant), class: "text-decoration-none text-center" do %>
  <%= offer.lister_plant.nickname.capitalize %>
  <% end %>
</div>
