<%= link_to listing_plant_path(offer.lister_plant), class: "text-decoration-none" do %>
  <div>
  <% if offer.lister_plant.image.attached? %>
    <%= cl_image_tag offer.lister_plant.image.key, class: "chat-image-card" %>
  <% else %>
    <%= image_tag offer.lister_plant.plant_info.image_url, class: "chat-image-card" %>
  <% end %>
  </div>
<% end %>

<div class="mb-3 mt-1 text-center">
  <%= link_to listing_plant_path(offer.lister_plant), class: "text-decoration-none text-center" do %>
  <%= offer.lister_plant.nickname.capitalize %>
  <% end %>
</div>
