<!DOCTYPE html>
<html>
  <head>
    <title>Sproutify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= tag :meta, name: :rails_env, content: Rails.env %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="position-relative">
    <%= render "shared/flashes" %>

    <div id="loader" class="z-2 position-fixed bg-light opacity-75 vw-100 vh-100 d-flex justify-content-center align-items-center d-none">
      <%= image_tag "spinner.svg" %>
    </div>

      <%= yield %>

    <div>
      <%= render "shared/nav" %>
    </div>
  </body>
</html>
